; Enable Zend OPcache extension module
zend_extension=opcache.so

; Determines if Zend OPCache is enabled
opcache.enable=1

; PHP の CLI 版に対してオペコード・キャッシュを有効にします。
opcache.enable_cli=<%= node['php5.6']['php-opcache']['opcache.ini']['enable_cli'] %>

; OPcache によって使用される共有メモリ・ストレージのサイズ。（MB単位）
opcache.memory_consumption=<%= node['php5.6']['php-opcache']['opcache.ini']['memory_consumption'] %>

; インターン (intern) された文字列を格納するために使用されるメモリ量。（MB単位）
opcache.interned_strings_buffer=<%= node['php5.6']['php-opcache']['opcache.ini']['interned_strings_buffer'] %>

; OPcache ハッシュテーブルのキー（すなわちスクリプト）の最大数。200から100000の間で設定する。
opcache.max_accelerated_files=<%= node['php5.6']['php-opcache']['opcache.ini']['max_accelerated_files'] %>

; The maximum percentage of "wasted" memory until a restart is scheduled.
;opcache.max_wasted_percentage=5

; When this directive is enabled, the OPcache appends the current working
; directory to the script key, thus eliminating possible collisions between
; files with the same name (basename). Disabling the directive improves
; performance, but may break existing applications.
;opcache.use_cwd=1

; When disabled, you must reset the OPcache manually or restart the
; webserver for changes to the filesystem to take effect.
;opcache.validate_timestamps=1

; 更新のためにスクリプトのタイムスタンプをチェックする頻度。（秒単位）
; 0にすると、OPcacheは、リクエストごとに更新をチェックします。
; ※開発モードの時は0にしないと、変更したコードの更新がされず混乱する場合があるので注意。
;opcache.revalidate_freq=<%= node['php5.6']['php-opcache']['opcache.ini']['revalidate_freq'] %>

; Enables or disables file search in include_path optimization
;opcache.revalidate_path=0

; If disabled, all PHPDoc comments are dropped from the code to reduce the
; size of the optimized code.
;opcache.save_comments=1

; If disabled, PHPDoc comments are not loaded from SHM, so "Doc Comments"
; may be always stored (save_comments=1), but not loaded by applications
; that don't need them anyway.
;opcache.load_comments=1

; 有効にすると、それぞれに割り当てられたブロックを解放しない、高速シャットダウン・シーケンスが使用されます。
; しかし、リクエスト変数のすべてのセットをひとまとめに割当てを解除することは、Zend Engineのメモリ・マネージャに依存します。
;opcache.fast_shutdown=<%= node['php5.6']['php-opcache']['opcache.ini']['fast_shutdown'] %>

; Allow file existence override (file_exists, etc.) performance feature.
;opcache.enable_file_override=0

; A bitmask, where each bit enables or disables the appropriate OPcache
; passes
;opcache.optimization_level=0xffffffff

;opcache.inherited_hack=1
;opcache.dups_fix=0

; The location of the OPcache blacklist file (wildcards allowed).
; Each OPcache blacklist file is a text file that holds the names of files
; that should not be accelerated.
opcache.blacklist_filename=/etc/php.d/opcache*.blacklist

; Allows exclusion of large files from being cached. By default all files
; are cached.
;opcache.max_file_size=0

; Check the cache checksum each N requests.
; The default value of "0" means that the checks are disabled.
;opcache.consistency_checks=0

; How long to wait (in seconds) for a scheduled restart to begin if the cache
; is not being accessed.
;opcache.force_restart_timeout=180

; OPcache error_log file name. Empty string assumes "stderr".
;opcache.error_log=

; All OPcache errors go to the Web server log.
; By default, only fatal errors (level 0) or errors (level 1) are logged.
; You can also enable warnings (level 2), info messages (level 3) or
; debug messages (level 4).
;opcache.log_verbosity_level=1

; Preferred Shared Memory back-end. Leave empty and let the system decide.
;opcache.preferred_memory_model=

; Protect the shared memory from unexpected writing during script execution.
; Useful for internal debugging only.
;opcache.protect_memory=0

