; Enable xdebug extension module
zend_extension=xdebug.so

; see http://xdebug.org/docs/all_settings

; remote_hostは設定しない
;xdebug.remote_host= 0.0.0.0

xdebug.default_enable=1
xdebug.remote_enable=1
xdebug.remote_port=<%= node['php5.6']['php-pecl-xdebug']['xdebug.ini']['remote_port'] %>
xdebug.remote_handler=dbgp
xdebug.remote_autostart=1
xdebug.remote_mode=req
xdebug.idekey = "<%= @project_name %>"
; 全ての接続を許可する
xdebug.remote_connect_back=1
